<div class="container mt-2">
  <div class="row">
    <div class="col-12 col-md-8 mx-auto text-center" style="font-family: sans-serif">
      <h1 class="font-weight-bold my-0" style="font-size: 100px;">404</h1>
      <h3 class="mt-0">Not Found</h2>
        <small>The resource requested could not be found on this server!</small>
    </div>
  </div>
</div>