<div class="container">
  <h1>URL Shortener</h1>
  <img src="/images/link-2.svg" alt="URL-Shortener-img" style="max-height: 300px; max-width: 300px;">
  {{#unless shortedURL}}
  <form action="/" method="POST">
    <input type="url" name="inputURL" id="inputURL" placeholder="Input URL here">
    <button type="submit">Shorten</button>
  </form>
  {{/unless}}
  {{#if shortedURL}}
  <h3>Success! Please use this link:</h3>
  <a href="{{shortedURL}}">{{shortedURL}}</a>
  <button>Copy</button>
  {{/if}}
</div>